
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    width: 100%;


}

.headerText{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

a {
  color: inherit;
  text-decoration: none;
}


.Link{
    color: rgb(171, 80, 255);
}


/* ----------- LOGIN PAGE ------------------ */

.loginFormWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 2%;


}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loginBn{
    height: 30px;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(171, 80, 255);
    color: rgb(255, 255, 255);  
}

.loginLabel{
    padding-left: 2%;
}


label{
    font-weight: bold;
}

input{
    height: 40px;
    width: 25vw;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 5px;
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: 16px;
    
}

/* ----------- SIGNUP PAGE ------------------ */

.signupFormWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 2%;


}

.signupForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ----------- HOME PAGE ------------------ */

.Wrapper{
    border: 1px solid red;
    width: 60vw;
    min-height: 60vh;
}

.contentDisplay{
    display: grid;
    gap: 10px;


}

.grid-row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid rgb(179, 179, 179);

}


.optionsBtnWrapper{
    gap: 20;
    display: flex;
}

.optionsBtn{
    width: 50px;
    border: none;
    background-color: transparent;
}


.optionsIcon{
    height: 25px;;
    width: 25px;
}


.folderDelBtn{
    height: 30px;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 79, 79);
    color: rgb(255, 255, 255);    
}