
body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: rgb(45, 45, 45);

}

.menuHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
    line-height: 0%;


}

.headerText{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}

.nameHeader{
    color: rgb(177, 101, 248);
    margin: 30px;
    
}


a {
  color: inherit;
  text-decoration: none;
}


.Link{
    color: rgb(171, 80, 255);
}


/* ----------- LOGIN PAGE ------------------ */

.loginFormWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 162, 249);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 2%;


}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loginBn{
    height: 30px;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(171, 80, 255);
    color: rgb(255, 255, 255);  
}

.loginLabel{
    padding-left: 2%;
}


label{
    font-weight: bold;
}

input{
    height: 40px;
    width: 25vw;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 5px;
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: 16px;
    
}

/* ----------- SIGNUP PAGE ------------------ */

.signupFormWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 162, 249);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 2%;


}

.signupForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ----------- HOME PAGE ------------------ */

.pageWrapper{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.sideNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 239, 239);
    width: 8vw;
    padding: 10px;
    gap: 20px;
}

.navBtn{
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: rgb(171, 80, 255);
    color: rgb(255, 255, 255);  
}

.navHeader{
    font-weight: bold;

}


.contentSection{
    width: 90vw;
    height: auto;
    padding: 20px;
}


.header-grid-row{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid rgb(179, 179, 179);
    font-weight: bold;
    margin-bottom: 20px;

}

.grid-row{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid rgb(179, 179, 179);
    margin-bottom: 20px;
    align-items: center;

}

.optionsBtnWrapper{
    gap: 20;
    display: flex;

}

.optionsBtn{
    width: 50px;
    border: none;
    background-color: transparent;
}


.optionsIcon{
    height: 25px;;
    width: 25px;
}


.folderDelBtn{
    height: 30px;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 79, 79);
    color: rgb(255, 255, 255);    
}